@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.jumbotron{
    background-image: url('https://images.pexels.com/photos/1595238/pexels-photo-1595238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:97vh;
    width:100%;
    font-family: 'Courgette', cursive;
    text-align: center;
}